#Add these to .gitignore
HotkeysSaveData.json
PlayerArmourSystemSaveData.json
PlayerClothingSystemSaveData.json
PlayerInventorySaveData.json
PlayerRetrieveDroppedInventoryActionSaveData.json
PlayerStateSaveData.json